.header {
    display: flex;
    background-image: url("../images/bg-header-footer.jpg");
    padding: 20px;
}
.header-list-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.header-list-menu {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    border-radius: 50%;
    background-color: white;
    height: 130px;
    width: 130px;
    margin-right: 93px;
    margin-left: 115px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.logo:hover,
.logo:focus {
    background-color: black;
}

.logo-name {
    position: absolute;
    top: 43px;
    left: 22px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.logo:hover .logo-name {
    color: white;
}

.header-list-menu-item {
    font-style: normal;
    font-weight: 800;
    font-size:20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-list-menu-item:not(:last-child) {
    margin-right: 50px;
}

.header-list-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-list-info-item:not(:last-child) {
    margin-right: 50px;
}

.header-info-link {
    display: flex;
}

.header-info-icon {
    stroke:  #060606;
    margin-right: 5px;
    font-weight: bold;
}

.menu-item-link {
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 3%;
}

.menu-item-link:hover,
.menu-item-link:focus {
    color: white; 
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.header-list-info-wrapper {
    display: flex;
    align-items: center;
}

.header-list-info {
    margin-right: 50px;
}

.header-language-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 50px;
    padding: 10px;
    border: #060606;
    font-size: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    text-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    background-color: #21212181;
}

.header-language-active {
    font-weight: bold;
    color: white;
}

.header-language-link:hover,
.header-language-link:focus {
    color: white;
    font-weight: bold; 
}

.header-language-active.header-language-link:hover {
    color: black;
    font-weight: 500;
}




