.header {
    display: flex;
    background-image: url("../images/bg-header-footer.jpg");
    padding: 20px;
}
.header-list-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.header-list-menu {
    display: flex;
    align-items: center;
}

.logo {
    // padding: 10px;
    position: relative;
    border-radius: 50%;
    // background-image: url("../images/bg-header-footer.jpg");
    background-color: white;
    height: 130px;
    width: 130px;
    margin-right: 93px;
    margin-left: 115px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.logo:hover,
.logo:focus {
    background-color: black;
}

.logo-name {
    position: absolute;
    top: 43px;
    left: 22px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.logo:hover .logo-name {
    color: white;
}

.header-list-menu-item {
    font-style: normal;
    font-weight: 800;
    font-size:20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-list-menu-item:not(:last-child) {
    margin-right: 50px;
}

.header-list-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-list-info-item:not(:last-child) {
    margin-right: 50px;
}

.header-info-link {
    display: flex;
}

.header-info-icon {
    stroke:  #060606;
    margin-right: 5px;
    font-weight: bold;
}
.menu-item-link {
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 3%;
}

.menu-item-link:hover,
.menu-item-link:focus {
    color: white; 
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}



// .menu-item-link::after {
//     content: "";
//     height: 5px;
//     background-color: #9DA4BD;
//     width: 123px;
//     border-radius: 2px;
//     display: block;
//     position: absolute;
//     left: 345px;
//     top: 103px;
//     box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
// }