/* hero */
.hero {    
    position: relative;
    height: 480px;
    padding-left: 50px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/hero_bg.jpg');
    background-size: cover;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}


.hero-text-wrap {
    padding: 20px;
    width: 625px;
    height: 380px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.hero-text-before-title {
    padding-left: 83px;
    font-size: 20px;
    color: #9DA4BD;
    margin-bottom: 45px;
}

.hero-text-before-title::before {
    content: "";
    height: 2px;
    background-color: #9DA4BD;
    width: 63px;
    border-radius: 2px;
    display: block;
    position: absolute;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    left: 80px;
    top: 83px;
}

.hero-text-before-title::after {
    content: "";
    height: 2px;
    background-color: #9DA4BD;
    width: 63px;
    border-radius: 2px;
    display: block;
    position: absolute;    
    top: 83px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.hero-text-before-title-english::after {
    left: 350px;    
}

.hero-text-before-title-ukrainian::after {
    left: 375px;
}

.hero-title {
    font-size: 100px;
    font-weight: 700;
    text-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;
}

.hero-title-ukrainian {
    font-size: 93px;
}

.hero-text-after-title {
    font-size: 25px;
    line-height: 1.5;
    color: black;
    text-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.hero-text-after-title-ukrainian {
    font-size: 20px;
}

.modal-open-btn {
    position: absolute;
    top: 210px;
    left: 1000px;
}


