<header class="header">
    <div class="logo"><p class="logo-name">AYSAL<p></div>
    <div class="header-list-wrapper">
        <ul class="header-list-menu">
            <li class="header-list-menu-item"><a href="#aboutus" class="menu-item-link">About us</a></li>
            <li class="header-list-menu-item"><a href="#ourproducts" class="menu-item-link">Our products</a></li>
            <li class="header-list-menu-item"><a href="././indexUk.html" class="menu-item-link">Language-Ukrainian</a></li>
            <!-- <li class="header-list-menu-item"><a href="#" class="menu-item-link">Contacts</a></li> -->
        </ul>
        <ul class="header-list-info">
            <li class="header-list-info-item">
                <a class="header-info-link" href="mailto:info@aysal.com.ua">
                    <svg class="header-info-icon" width="25" height="25">
                        <use href="./images/icons/icons.svg#icon-mail"></use>
                    </svg>
                    info@aysal.com.ua
                </a>
            </li>
            <!-- <li class="header-list-info-item">
                <a class="header-info-link" href="tel:0933242504">
                    <svg class="header-info-icon" width="25" height="25">
                        <use href="./images/icons/icons.svg#icon-phone"></use>
                    </svg>
                    +38 093 324 25 04
                </a>
            </li> -->
        </ul>
    </div>    
</header>
