<div class="hero container">
        <div class="hero-text-wrap">
            <p class="hero-text-before-title hero-text-before-title-english">Parket factory in Ukraine</p>
            <h1 class="hero-title">Aysal floors</h1>
            <p class="hero-text-after-title"> Made in garmony. <br> We are flooring experts. Our factory produces wood flooring.</p>
        </div>
       
        <button type="button" class="button modal-open-btn">Send request</button>                                 
</div>