<div class="backdrop-send-form is-hidden">
    <div class="modal-callback-form">
        <button class="modal-close-btn" type="button">
            <svg class="modal__icon--close" width="20" height="20">
                <use href="./images/icons/icons.svg#modal-close"></use>
            </svg>
        </button>
        <div class="modal-callback-form-wrapper">
            <h3 class="modal-callback-title">Call back</h3>
            <p class="modal-callback-text">Please, leave your contacts and we will call you</p>
            <div class="form-callback-wrapper">
                <form action="#" id="form" class="form-callback-body">
                    <div class="form-callback-item">
                        <label for="formcallbackName" class="form-callback-label">
                            Name*
                        </label>
                        <input id="formcallbackName" type="text" name="name" class="form-callback-input _req _name">
                    </div>
                    <div class="form-callback-item">
                        <label for="formcallbackName" class="form-callback-label">
                            Phone number*
                        </label>
                        <input id="formcallbackName" type="text" name="phone" class="form-callback-input _phone">
                    </div>
                    <div class="form-callback-item">
                        <label for="formcallbackEmail" class="form-callback-label">
                            E-mail
                        </label>
                        <input id="formcallbackEmail" type="email" name="email" class="form-callback-input _req _email">
                    </div>
                    <div class="form-callback-item">
                        <label for="formcallbackMessage" class="form-callback-label">
                            Message
                        </label>
                        <textarea id="formcallbackMessage" type="text" name="message" class="form-callback-input"></textarea>
                    </div>
                    <button type="submit" class="button form-callback-btn">Send</button>
                </form>
            </div>
        </div>        
    </div>
</div>