<div id="aboutus" class="about container">
    <h2 class="about-title">Про ТОВ "Айсал"</h2>
    <div class="about-text">
        <p class="about-text-part-1">«Айсал» - українська (Одеса, Умань) фабрика підлогових покриттів, яка виробляє паркет. Вже 25 років компанія виробляє дубову підлогу з масиву, завдяки чому виробничі потужності також підходять для виробництва дубової підлоги.
            Україна розташована у Східній Європі. Територія країни становить 603 628 квадратних кілометрів, що відповідає 5,7% території Європи. Населення становить 48 мільйонів жителів.
    Українські ліси, які називають «зеленим золотом» молодої держави, займають 15,9% території країни і сформовані з понад 30 порід дерев.</p>
        <p class="about-text-part-2">Серед них сосна 34,7%, дуб 26,3%, бук 9,3%, ялина 9,9%, береза ​​5,4%, вільха 4,2%, ясен 1,4%, граб 3,7% та ін.
            Ми хочемо розповісти вам про нашу компанію, ми називаємо її «велика сімейна фабрика», і це не просто слова. Наша фабрика динамічно розвивається вже більше 18 років. Весь цей час нашими працівниками були батьки і сини, брати і сестри, деякі хлопці і дівчата одружувалися і народжували дітей, і кожен з нас зробив свій внесок у нашу велику справу, чим ми пишаємося.
        </p>
    </div>
</div>