<header class="header">
    <div class="logo"><p class="logo-name">AYSAL<p></div>
    <div class="header-list-wrapper">
        <ul class="header-list-menu">
            <li class="header-list-menu-item"><a href="#aboutus" class="menu-item-link">Про нас</a></li>
            <li class="header-list-menu-item"><a href="#ourproducts" class="menu-item-link">Наша продукція</a></li>
            <!-- <l class="header-list-menu-item"><a href="././index.html" class="menu-item-link">Мова-Англійська</a></l -->
            <!-- <li class="header-list-menu-item"><a href="#" class="menu-item-link">Contacts</a></li> -->
        </ul>
        <div class="header-list-info-wrapper">
            <ul class="header-list-info">
                <li class="header-list-info-item">
                    <a class="header-info-link" href="mailto:info@aysal.com.ua">
                        <svg class="header-info-icon" width="25" height="25">
                            <use href="./images/icons/icons.svg#icon-mail"></use>
                        </svg>
                        info@aysal.com.ua
                    </a>
                </li>
                
                <!-- <li class="header-list-info-item">
                    <a class="header-info-link" href="tel:0933242504">
                        <svg class="header-info-icon" width="25" height="25">
                            <use href="./images/icons/icons.svg#icon-phone"></use>
                        </svg>
                        +38 093 324 25 04
                    </a>
                </li> -->
            </ul>
            <div class="header-language-wrapper">
                <div class="header-language-active"><p>UA<p></div>
                <div class="header-language"><a href="././index.html" class="header-language-link">EN<div>
            </div>    
        </div>

        
    </div>    
</header>
