<div class="hero container">
        <div class="hero-text-wrap">
            <p class="hero-text-before-title hero-text-before-title-ukrainian">Паркетна фабрика в Україні</p>
            <h1 class="hero-title hero-title-ukrainian">Підлога Айсал</h1>
            <p class="hero-text-after-title hero-text-after-title-ukrainian"> Зроблена в гармонії. <br> Ми експерти з виробництва дерев'яних підлогових покриттів. Наша фабрика виробляє дерев'яну підлогу.</p>
        </div>
       
        <button type="button" class="button modal-open-btn">Відправити запит</button>                                 
</div>