<div class="backdrop-send-form is-hidden">
    <div class="modal-callback-form">
        <button class="modal-close-btn" type="button">
            <svg class="modal__icon--close" width="20" height="20">
                <use href="./images/icons/icons.svg#modal-close"></use>
            </svg>
        </button>
        <div class="modal-callback-form-wrapper">
            <h3 class="modal-callback-title">Зворотній дзвінок</h3>
            <p class="modal-callback-text">Будь ласка, залиште Ваші контакти і ми Вам зателефонуємо</p>
            <div class="form-callback">
                <form action="#" id="form" class="form-callback-body">
                    <div class="form-callback-item">
                        <label for="formcallbackName" class="form-callback-label">
                            Ім'я*
                        </label>
                        <input id="formcallbackName" type="text" name="name" class="form-callback-input">
                    </div>
                    <div class="form-callback-item">
                        <label for="formcallbackEmail" class="form-callback-label">
                            Електронна пошта*
                        </label>
                        <input id="formcallbackEmail" type="email" name="email" class="form-callback-input">
                    </div>
                    <div class="form-callback-item">
                        <label for="formcallbackMessage" class="form-callback-label">
                            Повідомлення
                        </label>
                        <textarea id="formcallbackMessage" type="text" name="message" class="form-callback-input"></textarea>
                    </div>
                    <button type="submit" class="button form-callback-btn">Відправити</button>
                </form>
            </div>
        </div>        
    </div>
</div>