<div id="ourproducts" class="products container">
    <h2 class="products-title">Наша продукція</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog2.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog3.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog4.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog5.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog6.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog7.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog8.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog9.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog10.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog11.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
                <div class="swiper-slide customer-item">
                    <!-- <div class="customers-review"> -->
                        <div class="customers-review__image-wrap">                    
                            <img
                                src="./images/catalog/Catalog12.jpg"
                                alt="Customer photo"
                                class="customers-review__image"
                            />                        
                        </div>
                    <!-- </div>              -->
                </div>
            </div>
        </div>
       <!-- <div class="swiper-pagination"></div> -->
</div>
