<header class="header">
    <!-- <img class="logo" src="./images/logo.jpg" alt="logo" width="100" height="100"> -->
    <div class="logo"><p class="logo-name">AYSAL<p></div>
    <div class="header-list-wrapper">
        <ul class="header-list-menu">
            <li class="header-list-menu-item">About us</li>
            <li class="header-list-menu-item">Our products</li>
            <li class="header-list-menu-item">Contacts</li>
        </ul>
        <ul class="header-list-info">
            <li class="header-list-info-item">info@aysal.com.ua</li>
            <li class="header-list-info-item">+38 093 324 25 04</li>
        </ul>
    </div>    
</header>
