<div id="ourproducts" class="products container">
    <h2 class="products-title">Our products</h2>
    <div class="block_body">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog2.jpg" alt="catalog-image">
                    <!-- </div>                              -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog3.jpg" alt="catalog-image">
                    <!-- </div>                              -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog4.jpg" alt="catalog-image">
                    <!-- </div>                                                -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog5.jpg" alt="catalog-image">
                    <!-- </div>                             -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog6.jpg" alt="catalog-image">
                    <!-- </div> -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog7.jpg" alt="gallery-image">
                    <!-- </div>                              -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                            <img class="slider-image" src="./images/catalog/Catalog8.jpg" alt="catalog-image">
                    <!-- </div>                          -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog9.jpg" alt="catalog-image">
                    <!-- </div>                               -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog10.jpg" alt="catalog-image">
                    <!-- </div>             -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog11.jpg" alt="catalog-image">
                    <!-- </div>                          -->
                </div>
                <div class="swiper-slide">
                    <!-- <div class="image-slider__image"> -->
                        <img class="slider-image" src="./images/catalog/Catalog12.jpg" alt="catalog-image">
                    <!-- </div>                                                    -->
                </div>

                <div class="swiper-pagination"></div>
            </div>
    </div>
    
    
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
    
        <div class="swiper-pagination"></div>
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>
</div>